body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mainBody {
    width: 100%;
    flex-grow: 1;
    padding: 24px;
    height: calc(100% - 56px);
    margin-top: 56px;
    background-color: #fafafa;
}

.avatar {
    background-color: orangered;
}

.card {
    max-width: 90%;
}

.menuButton{
    margin-left: -12px;
    margin-right: 20px;
}

.sidebarList {
    width: 170px;
    padding-top: 40px;
    padding-left: 17px;
}

.formControl {
    min-width: 120px;
}

.commentArea {
    margin-top: 5px;
    margin-bottom: 5px;
}

.commentArea_textbox{
    width: 500px;
    height: 100px;
}

.formControl {
    minWidth: 120;
}

.header-title {
    flex: 1;
}